<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>农业银行管理系统</title>

<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/layout.css" />
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/style.css" />


<script type="text/javascript" src="${CONTEXT_PATH}/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/bootstrap.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/artDialog/artDialog.js??skin=twitter"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/artDialog/plugins/iframeTools.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/common.js"></script>
</head>

<body>
	<div class="container-fluid">
		<form class="form-inline" name="thisForm" id="thisForm" action="${CONTEXT_PATH}/admin/verify/checkCard" method="post" role="form">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs" role="tablist" id="myTab">
						<li class="active"><a href="#user" role="tab" data-toggle="tab">基本信息</a></li>
						<li><a href="#credit" role="tab" data-toggle="tab">信用信息</a></li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active" id="user">
							<br/><br/>
							<dl class="dl-horizontal">
								<dt>身份证头像</dt>
								<dd><img src="${CONTEXT_PATH}${(user.image)!}" onload="resizeImage(this, 100, 100)" /></dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>姓名</dt>
								<dd>${user.name}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>身份证</dt>
								<dd>${user.identity}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>性别</dt>
								<dd><#if user.sex = 1>男<#else>女</#if></dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>籍贯</dt>
								<dd>${user.birthplace}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>出生日期</dt>
								<dd>${user.birth}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>民族</dt>
								<dd>${user.national}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>家庭住址</dt>
								<dd>${user.address}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>电话</dt>
								<dd>${user.phone}</dd>
							</dl>
						</div>
						
						<div class="tab-pane" id="credit">
							<br/><br/>
							<dl class="dl-horizontal">
								<dt>婚姻状况</dt>
								<dd>${credit.marry}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>住宅情况</dt>
								<dd>${credit.hosing}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>现居住时间</dt>
								<dd>${credit.liveTime}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>个人年收入</dt>
								<dd>${credit.income}万</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>单位部门</dt>
								<dd>${credit.company}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>现单位工作年限</dt>
								<dd>${credit.experience}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>职业</dt>
								<dd>${credit.career}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>所属行业</dt>
								<dd>${credit.careerType}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>职称</dt>
								<dd>${credit.title}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>职务</dt>
								<dd>${credit.position}</dd>
							</dl>
						</div>
					</div>
					
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">		
					<input type="hidden" value="${(card.id)!}" id="cid" name="cid"/>
					<div class="form-group col-md-12">
						<div class="col-md-offset-2 col-md-8">
							<button type="button" onclick="checkCard(1)" class="btn btn-success col-md-1">通过</button>
							<button type="button" onclick="checkCard(2)"  class="btn btn-danger col-md-offset-1 col-md-1">拒绝</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
<script type="text/javascript">
	function checkCard(obj){
	
		$.ajax({
			url : "/admin/verify/checkCard",
			type:'post',      
			data : "cid=" + $('#cid').val() + "&status=" + obj,
			error : function(data) {
				
				alert("审核出错，请稍后再试！");
				
				art.dialog.close();
			},
			success : function(data) {
				
				if(data.status == "success") {
					alert("审核通过");
				} else {
					alert("审核未通过！");
				}
				
				art.dialog.close();
			}
		});
	}
</script>
</body>
</html>