<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>农业银行管理系统</title>

<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/layout.css" />
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/style.css" />

<script type="text/javascript" src="${CONTEXT_PATH}/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/bootstrap.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/artDialog/artDialog.js??skin=twitter"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/common.js"></script>
<script type="text/javascript">
	
	function del(url){
		if(confirm('您确定要删除本柜员信息？')) {
			
			$.get(url, function(data) {
				alert(data.msg);
				searchForm.submit();
			});
		}
	 }
	
	 function save(){
	  
	     var params=$('input').serialize(); //序列化表单的值
	     $.ajax({
	       url:'${CONTEXT_PATH}/admin/access/saveMoney', //后台处理程序
	       type:'post',         //数据发送方式
	       dataType:'json',     //接受数据格式
	       data:params,         //要传递的数据
	       success:update_page //回传函数(这里是函数名)
	     });
	 }
	 
	 function update_page (data) {
		//回传函数实体，参数为XMLhttpRequest.responseText
		alert(data.msg);
		searchForm.submit();
		
	 }
	 
</script>
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline" name="searchForm" action="${CONTEXT_PATH}/admin/access/search/?s=save" method="post" role="form">

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">银行卡号</div>
							<input class="form-control" type="text" name="uuid" value="${searchUuid!}"
								placeholder="银行卡号">
						</div>
					</div>
					&nbsp;&nbsp;
					<input type="submit" class="btn btn-info btn-sm" value="查询" />
					&nbsp;&nbsp;
					<p class="help-block required">${errorMsg!}</p>
				</form>
			</div>
		</div>

		<br /> <br /> 
	
	<#if user?? >	
				
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" action="${CONTEXT_PATH}/admin/access/saveMoney" method="post"
					 role="form">
					 
					<input type="hidden" value="${(card.uuid)!}" name="uuid" />
					<input type="hidden" value="${(user.id)!}" name="uid"/>
					
					<table class="table table-hover">
						<thead>
							<tr>
								<th>卡号</th>
								<th>姓名</th>
								<th>身份证</th>
								<th>卡上余额</th>
								<th width="240">存入金额</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>${(card.uuid)!}</td>
								<td>${(user.name)!}</td>
								<td>${(user.identity)!}</td>
								<td>${(card.balance)!}</td>
								<td>
									<div class="input-group input-group-sm">
									  	<span class="input-group-addon">￥</span>
									  	<input type="text" class="form-control" name="money" />
									</div>
								</td>
								<td><button type="submit"  class="btn btn-primary btn-sm">确定</button></td>
							</tr>
						</tbody>
					</table>
					
					<#if moneyMsg??>
					
					<div class="alert alert-warning alert-dismissible" role="alert">
					  	<button type="button" class="close" data-dismiss="alert">
					  	<span aria-hidden="true">&times;</span>
					  	<span class="sr-only">Close</span>
					  	</button>
					  	<p>${moneyMsg!}</p>
					 </div>
					
					</#if>
					
					<#if detail??>
					
						<div class="panel panel-success">
						
					        <div class="panel-heading">交易详情</div>
							<div class="panel-body">
							    
							    <div class="row">
									<div class="col-md-12">
										<dl class="dl-horizontal">
											<dt>卡号</dt>
											<dd>${detail.uuid}</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>交易时间</dt>
											<dd>${detail.time}</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>交易类型</dt>
											<dd><#if detail.type == 0><span class="label label-danger">支出</span><#else><span class="label label-success">存入</span></#if></dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>交易金额</dt>
											<dd><strong>${detail.amount}</strong></dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>卡内余额</dt>
											<dd><strong>${detail.balance}</strong></dd>
										</dl>
									</div>
								</div>
							</div>
							
							<#if result??>
							<div class="panel-footer">
								 <#if result == true>
								 <span class="label label-success">交易成功</span>
								 <#else>
								 <span class="label label-danger">交易失败</span>
								 </#if>
							</div>
							</#if>
							
						</div>
						
					</#if>
							 
				</form>

			</div>
		</div>

	</#if>
</div>

</body>
</html>