<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>农业银行管理系统</title>

<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/layout.css" />
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH}/static/css/style.css" />

<script type="text/javascript" src="${CONTEXT_PATH}/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/bootstrap.js"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/artDialog/artDialog.js??skin=twitter"></script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/common.js"></script>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline" name="searchForm" action="${CONTEXT_PATH}/admin/detail/search" method="post" role="form">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">身份证号</div>
							<input class="form-control" type="text" name="identity" value="${searchIdentity!}"
								placeholder="身份证号">
						</div>
					</div>
					&nbsp;&nbsp;
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">银行卡号</div>
							<input class="form-control" type="text" name="uuid" value="${searchUuid!}"
								placeholder="银行卡号">
						</div>
					</div>
					&nbsp;&nbsp;
					<input type="submit" class="btn btn-info btn-sm" value="查询" />
					&nbsp;&nbsp;
					<p class="help-block required">${errorMsg!}</p>
				</form>
			</div>
		</div>

		<br /> <br /> 
		<div class="col-md-12">
			<br />
			<table class="table table-hover">
				<thead>
					<tr>
						<th>卡号</th>
						<th>姓名</th>
						<th>身份证</th>
						<th>交易时间</th>
						<th>交易类型</th>
						<th>交易金额</th>
						<th>余额</th>
						
					</tr>
				</thead>
				<tbody>
				<#list detailList.list as detail>
					<tr>
						<td>${detail.uuid}</td>
						<td>${detail.identity}</td>
						<td>${detail.uuid}</td>
						<td>${detail.time}</td>
						<td><#if detail.type==0>支出<#else>存入</#if></td>
						<td>${detail.amount}</td>
						<td>${detail.balance}</td>
					</tr>
				</#list>
				</tbody>
			</table>
			
			<div>
				<ul class="pager pull-left">
					<li><a href="${CONTEXT_PATH}/admin/detail/?p=1<#if searchPage == 1>&s=1</#if>">首页</a></li>
					<li><a
						href="${CONTEXT_PATH}/admin/detail/?p=<#if detailList.pageNumber lte 1>1<#else>${detailList.pageNumber - 1}</#if><#if searchPage == 1>&s=1</#if>">上一页</a></li>
					<li><a
						href="${CONTEXT_PATH}/admin/detail/?p=<#if detailList.pageNumber gte detailList.totalPage>${detailList.totalPage}<#else>${detailList.pageNumber + 1}</#if><#if searchPage == 1>&s=1</#if>">下一页</a></li>
					<li><a
						href="${CONTEXT_PATH}/admin/detail/?p=${detailList.totalPage}<#if searchPage == 1>&s=1</#if>">末页</a></li>
				</ul>

				<div class="pull-right">
					<p class="help-block">当前第 ${detailList.pageNumber} 页，共计 ${detailList.totalPage} 页，每页
						${detailList.pageSize} 条数据</p>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {

		});
	</script>

</body>
</html>